/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "node_modules/bootstrap/scss/bootstrap";

// $cor-primaria: rgb(199, 126, 18);
// $cor-primaria-dark: rgb(102, 63, 9);
$cor-primaria: rgb(7, 71, 166);
$cor-secundaria: rgb(8, 54, 124);
$cor-secundaria: #0747A6;
$cor-entrada: rgba(236, 238, 241, 1);

$vermelho: #e53935;
$amarelo: #ffc400;
$verde: #5AA454;

* {
  padding: 0px;
  margin: 0px;
}

body {
  overflow: hidden;
  font-family: 'Lora';
  color: rgba(0,0,0,.6);
}

.page-wrap {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.ctrinternowhapper{
  mat-card{
    padding: 48px;
  }
}
  
.ctrinternowhapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
  
.ctrformfild{
  position: relative;
  mat-form-field {
    width: 100%;
  }
  mat-hint{
    color: #f44336 !important;
  }
}

.ctrh1{
  font-size: 20px;
  margin-bottom: 10px;
}

.ctrh2{
  font-size: 18px;
  margin-bottom: 10px;
}

.ctrformfildselect{
  padding-bottom: 20px;
  padding-top: 15px;
}

.ctrariabotao {
  position: inherit;
  .ctrbotaoentrar{
    float: right;
  }
  .ctrbotaocadastrar{
    float: left;
  }
}

.ctrbotoessociais {
  margin-top: 20px;
  .ctrseparadorsociais{
    margin-bottom: 20px;
    text-align: center;
  }
}

.getstarted {
  button {
    width: 100% !important;
    margin-top: 10px;
    mat-icon {
      float: right;
      margin: 5px;
    }
  }
}

.ctrscroll-content {
  position: absolute;
  // width: -webkit-fill-available;
  // height: -webkit-fill-available;
  width: stretch;
  left: stretch;
  display: flex;
  padding: inherit;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  align-items: baseline;
  padding-left: 2em;
}

#whapper{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}

#page-login {
  // background-image: url('./assets/imgs/bg6.jpg');
  // background-size: cover;
  // position: absolute;
  background: linear-gradient(to right, $cor-entrada , $cor-entrada);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#page-registrar {
  // background-image: url('./assets/imgs/bg6.jpg');
  // background-size: cover;
  // position: absolute;
  background: linear-gradient(to right, $cor-entrada , $cor-entrada);
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.erro {
  color: #f44336;
  padding: 0.5em;
  font-size: 0.9em;
  margin-bottom: 0.3em;
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: $cor-primaria;
}

.mat-card>:last-child:not(.mat-card-footer) {
  width: 100% !important;
}

// TESTE DE TRANSIÇOES E ANIMAÇOES
html[dir=ltr] ._3dqpi {
  -webkit-animation: _104Un 0.3s cubic-bezier(0.1, 0.82, 0.25, 1);
  animation: _104Un 0.3s cubic-bezier(0.1, 0.82, 0.25, 1);
  animation-name: _104Un;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.1, 0.82, 0.25, 1);
  animation-delay: initial;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: initial;
  animation-play-state: initial;
}

/* CTR NAVBAR*/
#espaco-logo{
  width: 200px;
}

.sidenav{
  box-shadow: 1px 0px 10px -4px rgba(50,50,50,.5);
  min-width: 300px;
  display: block;
}

#ctrsubnavbar {
  display: flex;
  background-color: #fefefe;
  color: #fff;
  text-decoration: none;
  position: fixed;
  top: 50px;
  left: 60px;
  bottom: 0px;
  width: 300px;
  z-index: 2;
  a {
    text-decoration: none;
    color: #fff;
    margin: 0px;
    display: flex;
  }
}

#ctrnavbarl1 {
  // background-color: #0747A6;
  background-color: $cor-primaria;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  width: 60px;
  z-index: 10;  
  padding: 49px 0px 0px 0px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    color: rgba(255,255,255,.7);
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    outline: none;
    text-decoration: none;
    font-size: 1.2em;
    i {
      // display: none;
      margin: 10px 5px;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    }
  }
  .active {
    // background-color: cornflowerblue;
    // background-color: #0747A6;
    color: #fff;
    background: lightseagreen;
  }
  a:hover {
    color: #fff;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
}

#subopcoes {
  display: flex;
  background-color: #fafafa;
  position: absolute;
  left: 60px;
  top: 0;
  bottom: 0;
  border-right: 1px solid #dddddd;
  width: 20%;
  padding-left: 20px;
  z-index: 200;
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
    background-color: $cor-primaria;
}

.mat-input-element {
    caret-color: $cor-primaria;
}

#ctrlogo{
  // color: rgba(255, 50, 50, 1);
  color: rgb(255, 50, 50);
  display: none;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 50px;
  cursor: pointer;
  margin: 0;
  outline: none;
  text-decoration: none;
  font-size: 1.2em;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

/* FIM NAVBAR */

table {
  width: 100%;
}

@media (max-width: 460px) {
  mat-card {
    padding: 50px !important;
  }
}

@media (max-width: 600px) {
  #page-login {
    background-image: none;
    margin-left: 50px;
    margin-right: 50px;
  }

  #page-registrar {
    background-image: none;
    margin-left: 50px;
    margin-right: 50px;
  }
  mat-card{
    box-shadow: none !important;
    padding: 0px !important;
  }
}

.ctr-elevation-2 {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.status {
  border-radius: 2px;
  padding: 5px;
  font-size: 0.6em;
}

.status-aberto {
  background-color: #e53935;
  color: white;
}

.status-em-atendimento {
  background-color: #ffc400;
  color: white;
}

.status-finalizado {
  background-color: #9e9e9e;
  color: white;
}

