<div class="getstarted" id="page-registrar">
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="page-wrap page-registrar getstarted">
    <div class="ctrinternowhapper">
      <mat-card>
        <div class="ctrh1">
          Vamos Começar
        </div>

        <div>
          <p>Entrar com seu email comercial</p>

          <form [formGroup]="f" (ngSubmit)="next()">
            <div class="erro" [hidden]="!erro.message">{{ erro.message }}</div>
            <div class="ctrformfild">
              <mat-form-field>
                <input type="text" placeholder="Email Comercial" matInput formControlName="email" (click)="limpaErros()">
                <mat-hint>{{ erro.email }}</mat-hint>
              </mat-form-field>
            </div>

            <div class="ctrformfild">
              <mat-form-field>
                <input type="password" placeholder="Senha" matInput formControlName="senha" (click)="limpaErros()">
                <mat-hint>{{ erro.senha }}</mat-hint>
              </mat-form-field>
            </div>
            <button mat-raised-button color="primary">Avançar</button>
          </form>

        </div>

        <div class="ctrbotoessociais">
          <div class="ctrseparadorsociais">
            OU
          </div>
          <button (click)="signupWithGoogle()" mat-raised-button color="warn">Entrar com o Google
            <i class="fab fa-google"></i>
          </button>
          <button mat-raised-button>Entrar com conta da Microsoft
            <i class="fab fa-microsoft"></i>
          </button>
        </div>

      </mat-card>
    </div>
  </div>
</div>