<div class="page-wrap page-registrar getstarted" id="page-registrar">
  <div class="ctrinternowhapper">
    <mat-card>
      <div class="ctrh1">
        Fale um pouco sobre sua empresa
      </div>

      <div>
        <form [formGroup]="f" (ngSubmit)="next()">
          <div class="ctrformfild">
            <mat-form-field>
              <input type="text" placeholder="Empresa" matInput formControlName="empresa" (click)="limpaErros()">
              <mat-hint>{{ erro.email }}</mat-hint>
            </mat-form-field>
          </div>

          <div class="ctrformfild">
            <mat-form-field>
              <mat-select placeholder="Número de Funcionários" formControlName="numeroDeFuncionarios">
                <mat-option *ngFor="let n of ndf" [value]="n">
                  {{ n }}
                </mat-option>
              </mat-select>
              <mat-hint>{{ erro.senha }}</mat-hint>
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary">Avançar</button>
        </form>

      </div>

    </mat-card>
  </div>
</div>