<ngx-loading [show]="loading"></ngx-loading>
<div id="ctrheader-desktop" class="ctrlayoutpositions">
  <nav id="tabs">
      <!--<i class="fa fa-plus" aria-hidden="true"></i>-->

      <button mat-button [matMenuTriggerFor]="menuStatus" class="tab">
        <span id="ponto-status-geral" [ngClass]="{'disponivel': status == 'Disponivel', 'indisponivel': status == 'Ocupado'}"></span>
        <span id='status'> {{status}} </span>
      </button>
      <mat-menu #menuStatus="matMenu">
        <button mat-menu-item (click)='setStatus("Disponivel")'>
           <span id="ponto-status" class="disponivel"></span>
           <span id='status'>Disponivel</span>
        </button>
        <button mat-menu-item (click)='setStatus("Ocupado")'>
           <span id="ponto-status" class="indisponivel"></span>
           <span id='status'>Ocupado</span>
        </button>
      </mat-menu>
    <a class="tab" *ngIf="false" >

    </a>
  </nav>
  <div id="ctrheaderoptions">
    <div id="img-user">
      <button mat-button [matMenuTriggerFor]="menu"><img src="../../../assets/imgs/gravatar.png" alt=""></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><img src="../../../assets/imgs/gravatar.png" alt=""></button>
        <button mat-menu-item>{{ nome_usuario }}</button>
        <button mat-menu-item (click)='infoUsuario()'>Ver Perfil</button>
        <button mat-menu-item (click)="logoff()">Logoff</button>
      </mat-menu>

    </div>
  </div>

</div>
