#ctrheader-desktop {
  padding: 0;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  left: 60px;
  background: linear-gradient(0deg, #E3E3E3 1px, #FFFFFF 1px);
  display: flex;
  z-index: 1;
  flex-direction: row;
  box-shadow: 0px 2px 5px -5px rgba(10, 10, 10, 0.3);
  #ctrheaderoptions {
    display: flex;
    align-items: center;
    margin-right: 20px;
    #img-user img{
      height: 24px;
      width: 24px;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.header-user-options{
  float: right;
  display: flex;
  margin-top: 10px;
}

#tabs{
  flex-direction: row;
  flex: 1;
}

.tab {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px 20px;
  cursor: pointer;
  i {
    margin-right: 0.3em;
  }
}

.tab:hover{
  box-shadow: 0px 1px 11px -1px rgba(10,10,10,0.5);
}

#ponto-status {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-top: 18px;
  margin-left: -10px;
  z-index: 1;
  position:absolute;
}

#ponto-status-geral {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-top: 13px;
  margin-left: -10px;
  z-index: 1;
  position:absolute;
}

button.mat-menu-item {
  width: 100%;
}

#status {
  margin-left: 10px;
}

.status_geral {
  margin-top: -10px;
  margin-right: 10px;
}

.disponivel {
  background: rgba(8, 201, 53, 1);
}

.indisponivel {
  background-color: rgba(247, 29, 22, 1);
}
