<ngx-loading [show]="loading"></ngx-loading>
<div class="page-wrap" id="page-login">

  <div class="ctrinternowhapper">
    <mat-card>
      <div class="ctrh1">
        Login
      </div>
      <div class="ctrh2">
        Acesse sua Conta
      </div>

      <form [formGroup]="f" (ngSubmit)="doLogin()">

        <div class="erro" [hidden]="!erro.message">
          {{ erro.message }}
        </div>

        <div class="ctrformfild">
          <mat-form-field>
            <input type="text" formControlName="email" matInput placeholder="Email*" (click)="limpaErros()">
            <mat-hint>{{ erro.email }}</mat-hint>
          </mat-form-field>
        </div>

        <div class="ctrformfild">
          <mat-form-field>
            <input type="password" formControlName="senha" matInput placeholder="Senha*" (click)="limpaErros()">
            <mat-hint>{{ erro.senha }}</mat-hint>
          </mat-form-field>
        </div>

        <div class="ctrformfildselect">
          <mat-checkbox color="primary" formControlName="remember">Lembrar de mim</mat-checkbox>
        </div>

        <div class="ctrariabotao">
          <button class="ctrbotaoregistrar" mat-raised-button routerLink="/registrar">Registrar</button>
          <button class="ctrbotaoentrar" mat-raised-button color="primary">Entrar</button>
        </div>

      </form>
    </mat-card>
  </div>
</div>
