<ngx-loading [show]="loading"></ngx-loading>
<div class="page-wrap page-registrar getstarted" id="page-registrar">
  <div class="ctrinternowhapper">
    <mat-card>
      <div class="ctrh1">
        Fale um pouco sobre você
      </div>

      <div>
        <form [formGroup]="f" (ngSubmit)="next()">
          <div class="ctrformfild">
            <mat-form-field>
              <input type="text" placeholder="Nome Completo" matInput formControlName="nome" [value]="f.get('nome').value | titlecase" (click)="limpaErros()">
              <mat-hint>{{ erro.nome }}</mat-hint>
            </mat-form-field>
          </div>

          <div class="ctrformfild">
            <mat-form-field>
              <input type="number" placeholder="Número de telefone" matInput formControlName="telefone" (click)="limpaErros()">
              <mat-hint>{{ erro.telefone }}</mat-hint>
            </mat-form-field>
          </div>

          <div class="ctrformfild">
            <mat-form-field>
              <mat-select placeholder="Departamento" formControlName="departamento">
                <mat-option value="cartorio">
                  Cartório
                </mat-option>
              </mat-select>
              <mat-hint>{{ erro.departamento }}</mat-hint>
            </mat-form-field>
          </div>

          <div class="ctrformfild">
            <mat-form-field>
              <input type="text" placeholder="Cargo" matInput formControlName="cargo" (click)="limpaErros()">
              <mat-hint>{{ erro.cargo }}</mat-hint>
            </mat-form-field>
          </div>

          <button mat-raised-button color="primary" (click)="next()">Avançar</button>
        </form>

      </div>

    </mat-card>
  </div>
</div>