<div id="navbar">
  <div class="container">
    <div class="logo">
      <img src="./assets/imgs/logo.png" alt="" srcset="">
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<div id="footer">

</div>