#navbar {
  background-color: transparent;
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.logo img{
  width: auto;
  height: 30px;
}