#lista-visualizacoes {
  display: flex;
  background-color: #fafafa;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid #dddddd;
  width: 20%;
  padding-left: 20px;
}
.lista-visualizacoes {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
  border: 1px solid #dddddd;
  top: 0;
  left: 0;
  bottom: 0;
}