.page-wrap {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.ctrinternowhapper{
  mat-card{
    padding: 48px;
  }
}

.ctrformfild{
  position: relative;
  mat-form-field{
    width: 100%;
    mat-hint{
      color: #f44336;
    }
  }
}

.ctrh1{
  font-size: 20px;
  margin-bottom: 10px;
}

.ctrh2{
  font-size: 18px;
  margin-bottom: 10px;
}

.ctrinternowhapper{
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.ctrformfildselect{
  padding-bottom: 20px;
  padding-top: 15px;
}

.ctrariabotao {
  position: inherit;
  .ctrbotaocadastrar{
    float: left;
  }
}

@media (max-width: 460px) {
  mat-card {
    padding: 50px !important;
  }
}

@media (max-width: 600px) {
  mat-card{
    box-shadow: none !important;
    padding: 0px !important;
  }
}


// .login-page{
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   padding: 40px 1rem;
//   height: 100%;
//   // background-image: url('../../assets/imgs/bg1.jpg');
//   // background-color: rgb(63, 81, 180);
//   // background-image: linear-gradient(to left, rgba(71, 101, 255,1), rgba(71, 101, 255,1));
//   // background-image: linear-gradient(-87deg, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.08) 49%,rgba(255,255,255,0.03) 50%,rgba(0,0,0,0) 51%,rgba(50,50,50,0.4) 100%);
//   // background-color: rgba(241, 54, 54, 0.9);
//   // background-image: linear-gradient(-87deg, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.08) 49%,rgba(255,255,255,0.03) 50%,rgba(0,0,0,0) 51%, rgba(0,0,0,0.1) 100%);
//   background-color: #fff;

//   mat-card{
//     // max-width: 300px;
//     margin: auto;
//     margin-top: 20vh;
//     text-align: center;
//     padding: 70px;
//     height: auto;

//     div.ctr2{
//       padding-bottom: 30px;
//     }
    
//     mat-form-field{
//       width: 100%;
//       mat-hint{
//         display: none;
//       }
//     } 
//   }
// }

