<!--
  Generated template for the EscolherCartorioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar hideBackButton color='secondary'>
    <ion-title text-center>Escolher Cartorio</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <ion-label text-center> Escolha o Cartório que deseja ir </ion-label>

  <!-- <ion-list>
    <ion-item>
      <ion-label floating>Cartório</ion-label>
      <ion-select name="cartorio" #cartorio >
          <ion-option *ngFor="let Cartorio of Cartorios | async" value="{{ Cartorio.caminho_db }}">{{ Cartorio.nome_empresa }}</ion-option>
        </ion-select>
    </ion-item>

    <button block ion-button item-left (click)="teste()" color='secondary' class="btn-escolher">Escolher</button>
  </ion-list> -->

  <ion-card *ngFor="let c of Cartorios | async" (click)="teste(c)">
    <!-- <img src="{{ c.photo_url }}"/> -->
    <ion-card-content>
      <ion-card-title>
        {{ c.nome_empresa }}
      </ion-card-title>
      <ion-buttons end>
        <button ion-button icon-only clear>
          <ion-icon color="yellow" name="ios-star"></ion-icon>
          <ion-icon color="yellow" name="ios-star"></ion-icon>
          <ion-icon color="yellow" name="ios-star-half"></ion-icon>
          <ion-icon color="yellow" name="ios-star-outline"></ion-icon>
        </button>
      </ion-buttons>
      <!-- <p>
        The most popular industrial group ever, and largely
        responsible for bringing the music to a mass audience.
      </p> -->
    </ion-card-content>
  </ion-card>

</ion-content>