<div id="whapper">
  <ctrnavbar></ctrnavbar>
  <ctrheader-desktop></ctrheader-desktop>
  <div id="container">
    <mat-card id="ctrcontainer-scrolls">
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>