#container {
  display: flex;
  background-color: #f7f4f4;
  position: fixed;
  left: 60px;
  right: 0;
  bottom: 0;
  top: 50px;
  padding: 1em;}
#ctrcontainer-scrolls {
  overflow-y: overlay;
  overflow-x: hidden;
  display: flex;
  position: absolute;
  margin: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;}
.main {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}