<form [formGroup]="f">

  <h1>Informações de Usuário</h1>

  <div class="erro" [hidden]="!erro.message">
    {{ erro.message }}
  </div>

  <div class="ctrformfild">
    <mat-form-field>
      <input type="text" formControlName="nome" matInput placeholder="Nome*" (click)="limpaErros()">
      <mat-hint>{{ erro.nome }}</mat-hint>
    </mat-form-field>
  </div>

  <div class="ctrformfild">
    <mat-form-field>
      <input type="text" formControlName="cargo" matInput placeholder="Cargo*" (click)="limpaErros()">
      <mat-hint>{{ erro.cargo }}</mat-hint>
    </mat-form-field>
  </div>

  <div class="ctrformfild">
    <mat-form-field>
      <input type="text" formControlName="departamento" matInput placeholder="Departamento*" (click)="limpaErros()">
      <mat-hint>{{ erro.departamento }}</mat-hint>
    </mat-form-field>
  </div>

  <div class="ctrformfild">
    <mat-form-field>
      <input type="text" formControlName="telefone"  matInput placeholder="Telefone*" (keydown)="validarTelefone($event)" (click)="limpaErros()">
      <mat-hint>{{ erro.telefone }}</mat-hint>
    </mat-form-field>
  </div>

  <p></p>
  <p></p>
  <button mat-raised-button class="Botao" (click)="ConfirmarAlteracoes()">Confirmar Alterações</button>

</form>
