<div id="ctrnavbar" class="ctrlayoutpositions">
  <div id="ctrlogo">
    <a class="logo">
      <i class="fab fa-affiliatetheme"></i>
    </a>
  </div>
  <nav id="ctrnavbarl1">
    <a *ngFor="let o of options" [routerLink]="o.href" routerLinkActive="active">
      <i [class]="o.class"></i>
    </a>
  </nav>
</div>
<!--
<div id="subopcoes" [hidden]="!subopcoes">
  <div class="header-visualizacoes">
    Visualizações
  </div>

  <nav class="campo-links-visualizacoes">
    <a *ngFor="let o of options" [routerLink]="o.href" routerLinkActive="active">
      <i [class]="o.class"></i>
    </a>
  </nav>
</div>
-->

<!-- <div class="navbar">
  <div class="coluna-1">
    <div class="coluna-interna">
      <div class="campo-icons">
        Logo
      </div>
    </div>
  </div>
  <div class="coluna-2">
    <div class="coluna2-interna">

    </div>
  </div>
</div> -->
