// .navbar {
//   height: 100vh;
//   display: flex;
//   flex-direction: row;
//   position: fixed;
//   left: 0px;
//   width: inherit;
//   z-index: 300;
//   transition: height 0.25s ease-in-out;
//   .coluna-1 {
//     display: flex;
//     flex-shrink: 0;
//     .coluna-interna {
//       -webkit-box-align: center;
//       align-items: center;
//       color: rgb(222, 235, 255);
//       background-color: rgb(7, 71, 166);
//       box-sizing: border-box;
//       display: flex;
//       flex-direction: column;
//       width: 64px;
//       padding: 16px 0px;
//       .campo-icons {
//         -webkit-box-flex: 1;
//         flex-grow: 1;
//         flex-shrink: 1;
//         flex-basis: 0px;
//       }
//       .footer-column {
//         align-self: center;
//         -webkit-box-flex: 0;
//         flex-grow: 0;
//         width: 32px;
//       }
//     }
//   }
//   .coluna-2 {
//     -webkit-box-flex: 1;
//     flex-grow: 1;
//     flex-shrink: 1;
//     min-width: 64px;
//     display: flex;
//     .coluna-2-interna {
//       background-color: rgb(7, 71, 166);
//       color: rgb(222, 235, 255);
//       display: flex;
//       flex-direction: column;
//       padding-top: 16px;
//       width: 100%;
//     }
//   }
// }