<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
  <div>
    <!-- <img src = './../assets/imgs/cartorio.png'> -->
    <img src = './../assets/imgs/logo1.png'>
  </div>


  <ion-list>
  <ion-item> 
    <ion-label floating>Email</ion-label>
    <ion-input type="text" #username></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Senha</ion-label>
    <ion-input type="password" #password></ion-input>
  </ion-item>
  
</ion-list>

<div padding>
  <button block ion-button (click)="signInUser()" item-left color = 'secondary'>Entrar</button>
  <button block ion-button (click)="goRegister()" item-left color = 'secondary'>Cadastre-se</button>
</div>

</ion-content>