<h1>Visão Geral dos Protocolos</h1>

<div *ngIf="HiddenGraph">
  <h3>Não há Protocolos criados na data atual</h3>
</div>

<div *ngIf="ShowGraph">
  <ngx-charts-advanced-pie-chart
    class="Graficos"
    [view]="view"
    [scheme]="colorScheme"
    [results]="single"
    (select)="onSelect($event)">
  </ngx-charts-advanced-pie-chart>


  <!--
  <ngx-charts-number-card
  class="Graficos"
  [view]="view"
  [scheme]="colorScheme"
  [results]="single">
  </ngx-charts-number-card>

  <ngx-charts-pie-grid
  class="Graficos"
  [view]="view"
  [scheme]="colorScheme"
  [results]="single">
  </ngx-charts-pie-grid>

  <ngx-charts-pie-chart
  class="Graficos"
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [legend]="showLegend"
  [explodeSlices]="explodeSlices"
  [labels]="showLabels"
  [doughnut]="doughnut">
  </ngx-charts-pie-chart>
  -->

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Tickets Status: {{filtro}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <ngx-charts-number-card
      class="Graficos"
      [view]="view_detail"
      [scheme]="colorSchemeDetail"
      [results]="details">
    </ngx-charts-number-card>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Fechar</button>
  </div>
  </ng-template>
</div>
