<form [formGroup]="f">

  <h1>Cadastro de Usuarios</h1>

  <div class="erro" [hidden]="!erro.message">
    {{ erro.message }}
  </div>

  <div class="ctrformfild">
    <mat-form-field>
      <input type="text" formControlName="nome" matInput placeholder="Nome*" (click)="limpaErros()">
      <mat-hint>{{ erro.nome }}</mat-hint>
    </mat-form-field>
  </div>

  <div class="ctrformfild">
    <mat-form-field>
      <input type="text" formControlName="email" matInput placeholder="Email*" (click)="limpaErros()">
      <mat-hint>{{ erro.email }}</mat-hint>
    </mat-form-field>
  </div>

  <div class="ctrformfild">
    <mat-form-field>
      <input type="text" formControlName="senha" matInput placeholder="Senha*" (click)="limpaErros()">
      <mat-hint>{{ erro.senha }}</mat-hint>
    </mat-form-field>
  </div>

  <div class="ctrformfild">
    <mat-form-field>
      <input type="text" formControlName="cargo" matInput placeholder="Cargo*" (click)="limpaErros()">
      <mat-hint>{{ erro.cargo }}</mat-hint>
    </mat-form-field>
  </div>

  <div class="ctrformfild">
    <mat-form-field>
      <input type="text" formControlName="departamento" matInput placeholder="Departamento*" (click)="limpaErros()">
      <mat-hint>{{ erro.departamento }}</mat-hint>
    </mat-form-field>
  </div>

  <div class="ctrformfild">
    <mat-slide-toggle
      class="example-margin"
      formControlName = "administrador"
      color="warn"
      checked="checked">
      Permissão Administrador
    </mat-slide-toggle>
  </div>

  <p></p>
  <p></p>
  <button mat-raised-button class="Botao" (click)="CriarUsuario()">Criar Usuario</button>

</form>
