<div id="atendimentos-page">
  <div *ngIf="Guiche == ''">
    <mat-card>
      <h1>Selecione seu Guiche</h1>

      <input type="text" [(ngModel)]="Numero_Guiche" maxlength="3" (keydown)="validarEntradaGuiche($event)" placeholder="Numero Guiche">

      <p></p>
      <p></p>
      <button mat-raised-button class="BotoesAtendimento" (click)="ConfirmarGuiche()">Confirmar Guiche</button>
    </mat-card>
  </div>

  <div *ngIf="CaixaLivre && Guiche != ''">
    <mat-card>
      <h1>Atender Senha</h1>

      <form [formGroup]="f">
        <mat-form-field>
          <mat-select placeholder="Tipo Senha" formControlName="tipoSenha">
            <mat-option *ngFor="let tipo of tipo_senhas" [value]="tipo.value">
              {{ tipo.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br/>
        <mat-slide-toggle class="example-margin" formControlName="Preferencial" color="accent" [checked]="checked" [disabled]="disabled">
          Preferencial
        </mat-slide-toggle>
      </form>

      <p></p>
      <p></p>
      <button mat-raised-button class="BotoesAtendimento" (click)="AtenderSenha()">Atender Senha</button>
    </mat-card>
  </div>

  <div id="container" *ngIf="EmAtendimento">
    <mat-card>
      <h1>Ticket Atual: {{ AtendimentoAtual.ticket }}</h1>
      Prioridade: {{ AtendimentoAtual.typeTicket }}
      <br/>
      Guiche: {{ Guiche }}
      <p></p>
      <button mat-raised-button class="BotoesAtendimento" (click)="FinalizarAtendimento()">Finalizar Atendimento</button>
    </mat-card>


  </div>
  <br/>
  
  <mat-card>
  <h1>Todos os Tickets</h1>
  <div class="table-atendimentos">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Ticket</th>
          <th scope="col">Tipo</th>
          <th scope="col">Guiche</th>
          <th scope="col">Data</th>
          <th scope="col">Status</th>
          <th scope="col">Tempo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of tickets[0]">
          <th scope="row">{{ t.ticket }}</th>
          <td>{{ t.categoria }}</td>
          <td>{{ t.guiche }}</td>
          <td>{{ t.date }}</td>
          <td><span class="status" [ngClass]="{'status-aberto': t.status == 'Aberto', 'status-em-atendimento': t.status == 'Em Atendimento', 'status-finalizado': t.status == 'Concluído'}">{{ t.status }}</span></td>
          <td [hidden]="t.status">Finalizado</td>
          <td></td>
        </tr>
      </tbody>
      <tbody>
        <tr [hidden]="_tickets">
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td *ngIf="tickets[0].length == 0">Não possui dados a serem listados</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>
<br/>
</div>
