.BotoesAtendimento {
    background-color: rgb(7, 71, 166);
    color: white;
}

// #atendimentos-page {
//     display: flex;
//     flex-direction: row;
// }

#area-count-numeros {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.count-numeros {
    width: 100%;
    height: 100px;
    margin: 0.2em;
    display: flex;
    z-index: 100;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.table-atendimentos table tbody{
    overflow-y: scroll;
}