<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color = 'secondary'>
    <ion-title>
      Cadastre-se
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

  <ion-item>
    <ion-label floating>E-mail</ion-label>
    <ion-input type="text" #username></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Senha</ion-label>
    <ion-input type="password" #password></ion-input>
  </ion-item>

</ion-list>

<div padding>
  <button block ion-button (click)="registerUser()" item-left color = 'secondary'>Cadastrar</button>
</div>

</ion-content>
